ion-toolbar {
  --border-style: none;
}

/* Active link underline */
.class1 {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust as needed */
    width: 100%;
    border-bottom: solid 3px #0bb8cc;
  }
}

/* Hover effect for non-active links */
.linkButtons {
  position: relative;
  &:not(.class1)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust as needed */
    width: 100%;
    border-bottom: solid 3px #0bb8cc;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:not(.class1):hover::after {
    transform: scaleX(1);
  }
}

.logo {
  font-family: 'Abril Fatface';
  font-weight: bolder;
  // color: var(ion-text);
}

ion-icon.headerIcon {
  pointer-events: all;
}

.headerIcon {
  transition: transform 250ms ease-in-out;
}

.headerIcon:hover {
  transform: rotate(45deg);
}

ion-label {
  font-family: 'Poppins';
  font-weight: lighter;
  // color: black;
}

.contact {
  margin-right: 2rem;
}

ion-toggle {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
}