<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button class="hide-lg"></ion-menu-button>
      <ion-button class="logo" routerLink="/home">Anthony Buzzelli<ion-icon size="large" slot="start" src="../../assets/Group 1.svg"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" class="hide-sm">
      <ion-button routerLink="/home" routerLinkActive="class1">
        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>
          Home
        </ion-label>
      </ion-button>
      <ion-button routerLink="/about" routerLinkActive="class1">
        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>
          About
        </ion-label>
      </ion-button>
      <ion-button routerLink="/projects" routerLinkActive="class1">
        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>
          Projects
        </ion-label>
      </ion-button>
      <ion-button routerLink="/contact" routerLinkActive="class1">
        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>
          Contact
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>