ion-toolbar {
  --border-style: none;
}

/* Active link underline */
.class1 {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust as needed */
    width: 100%;
    border-bottom: solid 3px var(--ion-color-primary);
  }
}

/* Hover effect for non-active links */
.linkButtons {
  position: relative;
  &:not(.class1)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust as needed */
    width: 100%;
    // border-bottom: solid 3px #0bb8cc;
    border-bottom: solid 3px var(--ion-color-primary);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:not(.class1):hover::after {
    transform: scaleX(1);
  }

  &.contact {
    overflow: hidden; /* Ensure the background stays within the button */
    transition: color 250ms ease-in-out;

    ion-label {
      position: relative;
      z-index: 1; /* Ensure label stays on top */
      color: var(--ion-color-primary);
      transition: color 250ms ease-in-out;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--ion-color-primary);
      z-index: 0;
      border-radius: 50px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in-out;
    }

    &:hover:before {
      transform: scaleX(1);
    }

    &:hover ion-label {
      color: white; /* Change text color on hover */
    }
  }
}


ion-button.logo {
  font-family: 'Abril Fatface';
  font-weight: bolder;
  // color: var(ion-text);
}

ion-icon.headerIcon {
  pointer-events: all;
}

.headerIcon {
  transition: transform 250ms ease-in-out;
}

.headerIcon:hover {
  transform: rotate(45deg);
}

ion-label {
  font-family: 'Poppins';
  font-weight: bolder;
  // color: black;
}

.contact {
  margin-right: 2rem;
}

ion-toggle {
  margin-right: 1rem;
}

.toggleIcons {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  transition: filter 250ms ease-in-out; /* Apply yellow color filter for light mode icon */ &.lightIcon { filter: brightness(0) saturate(100%) invert(98%) sepia(7%) saturate(7337%) hue-rotate(345deg) brightness(110%) contrast(114%); } /* Apply default color filter for dark mode icon */ &.darkIcon { filter: none; }
}

@media (max-width: 768px) {
  .hide-sm {
    ion-button:not(.toggle),
    ion-label:not(.toggle__label) {
      display: none;
    }
    
  }
}

@media (max-width: 468px) {
  .hide-mobile {
    ion-button:not(.logoIcon) {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .hide-lg {
    display: none;
  }
}