<ion-toolbar color="primary">
  <p>
    &copy; {{ currentYear }} Anthony Buzzelli
  </p>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon size="large" slot="start" src="../../assets/logo-linkedin.svg"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon size="large" slot="start" src="../../assets/logo-github.svg"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon size="large" slot="start" src="../../assets/logo-codepen.svg"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon size="large" slot="start" src="../../assets/logo-twitter.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
