.project_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -30%);
  z-index: 1;
  color: white;
}

#rendererContainer {
  width: 100vw;
  height: 100vh;
  display: block;
}