.canvasWrapper {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 2;
  // overflow: hidden;
  // width: 100%;
  cursor: pointer;
  color: white;
}

// .construction { 
//   font-size: 3rem;
//   color: black;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 5;
// }

// .showcase {
//   position: absolute;
//   z-index: 5;
//   bottom: 10%;
//   left: 50%;
//   transform: translate(-10%, -50%);

// }



// .header {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 6;
//   overflow: hidden;
//   width: 100%;
//   // color: white;

// }

// .side {
//   display: flex;
//   justify-content: flex-start;
//   position: absolute;
//   z-index: 3;
//   background-color: black;
  
//   h1 {

//     text-transform: uppercase;
//     color: white;
//     position: absolute;
//     font-size: 8rem;
//     left: 23%;
//     top: 50%;
//     transform: translate(-50%, 150%) rotate(-90deg);
//     transition: transform 300ms ease-in-out;
//   }
//   // h1:hover {
//   //   // color: red;
//   //   opacity: 0.5;
//   //   mix-blend-mode: color-dodge;
//   //   // transform: translateX(-40%, 150%) rotate(-90deg);
//   // }
// }

// .right {
//   display: flex;
//   justify-content: flex-end;
//   // position: absolute;
//   z-index: 3;
//   background-color: black;

  
//   h1 {
//     text-transform: uppercase;
//     color: white;
//     position: absolute;
//     font-size: 8rem;
//     right: -1%;
//     top: 50%;
//     transform: translate(50%, -20%) rotate(-90deg);
//   }
//   h1:hover {
//     // color: red;
//     opacity: 0.5;
//     mix-blend-mode: difference;
//   }
// }
.hero-section {
  height: calc(100vh - 190px);
  // display: flex;
  // align-items: center;
}



// .text-content {

// }

.headerRow {
  margin-top: 5rem;
  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.hero-text {
  padding: 20px;
  margin-left: 200px;
  @media (max-width: 800px) {
    margin-left: 0;
  }
  
  h1 {
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--ion-color-primary)
  }

  .web-dev {
    font-size: 3rem;
    margin: 24px 0 20px 0;
    line-height: 1;
    // color: var(--ion-color-dark);
  }

  .tagline {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--ion-color-medium);
    margin-bottom: 15px;
  }

  .cta-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    // width: 200px;

    ion-button {
      margin: 0;
    }
    @media (max-width: 768px) {
      justify-content: center;
      // width: 0;
    }
  }
}

.hero-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .image-container {
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    // transform: rotate(-10deg);
    border: 3px solid var(--ion-color-primary);
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(var(--ion-color-primary-rgb), 0.3),
                0 15px 40px rgba(var(--ion-color-primary-rgb), 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 50px;

    &:hover {
      transform: rotate(-10deg) scale(1.05);
    }

    .hero-image {
      // original image dimension
      // max-width: 100%;
      // max-height: 500px;
      // object-fit: contain;
      object-fit: cover;
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 100%;
      height: 100%;
      // transform: rotate(10deg) scale(1.2);
      
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
}

.scrollTease {
  display: flex;

}

.scroll-indicator-section {
  // background-color: var(--ion-color-light);
  padding: 10px 0;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: 100%;
  
  h2 {
    margin-bottom: 10px;
  }
}

.project-img {
  width: 200px;
  height: 200px;
}

// @keyframes bounce {
//   0%, 20%, 50%, 80%, 100% {
//     transform: translateY(0);
//   }
//   40% {
//     transform: translateY(-20px);
//   }
//   60% {
//     transform: translateY(-10px);
//   }
// }

.projects-preview {
  // background-color: var(--ion-color-light);
  padding: 20px;
}

// Responsive Adjustments
@media (max-width: 768px) {
  .hero-text {
    text-align: center;
  }

  .cta-buttons {
    align-items: center;
  }
}

